/**
 * Main CSS for Kognitif admin.
 *
 * @author Oriza
 */

/* Reset */
html {

}

body{
    font-family:arial;
}

header{
    margin-bottom:50px;
}

/* Login / Register */
.form-login{
    padding:20px;
    font-size:12px;
    border:1px solid #dedede;
}

/* Dashboard */
.menu ul li a{
    color:#444;
}

.menu ul li.active a{
    color:#FFF;
}

span.icon-header{
    font-size:40px;
}

.breadcrumbs ul{
    padding:0px;
    margin:0px;
}

.breadcrumbs ul li{
    display: inline-block;
    margin-right: 10px;
}

.child-menu{
    margin-top:20px;
}

.box{
    padding:10px;
    border:1px solid #dedede;
    margin-bottom:20px;
}

footer{
    margin-top:50px;
    border-top:1px solid #dedede;
    padding-top:10px;
}
    footer p{
        font-size:12px;
    }

/* Helper */
.margin-md-top {
    margin-top:20px;
}
.margin-md-bottom {
    margin-bottom:20px;
}

/* Paginateion */
.pagination strong{
    padding:10px 15px 10px 15px;
    background:#444;
    color:#FFF;
}

.pagination a{
    padding:10px 15px 10px 15px;
    background:#dedede;
    color:#444;
}
