/* Front End */

header {
    margin-top:20px;    
}

header .profile{
    font-size:14px;
}

.box{
    padding:10px;
    border:1px solid #dedede;
    margin-bottom:20px;
}

.navigation {
    margin-bottom:10px;
}

.navigation a{
    width:40px;
    height:30px;
}

.question{
    margin-top:30px;
    margin-bottom:30px;
}

.question p{
    font-size: 15px;
}

footer{
    margin-bottom:10px;
}

/* Pagination */
.pagination a{
    display:inline-block;
    background:#444;
    color:#FFF;
    padding:10px;
    margin-right:10px;
}

/* Helper */
.margin-md-top {
    margin-top:20px;
}
.margin-lg-top {
    margin-top:50px;
}
.margin-md-bottom {
    margin-bottom:20px;
}